#footer {
    position: relative;
    overflow: hidden;
    background: var(--gradient);
    padding-block: 8rem;
    z-index: 8;
}

#footer img {
    width: 70%;
}

#footer .image {
    display: flex;
    justify-content: start;
    margin-bottom: 5rem;
}

#footer .social-links {
    display: flex;
    gap: 2rem;
}

#footer .social-links a svg {
    opacity: .7;
    transition: all 300ms ease-in-out;
    width: 4rem;
    height: 4rem;
}

#footer .social-links a svg:hover {
    cursor: pointer;
    opacity: 1;
}

@media (min-width: 1080px) {
   footer#footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }

    footer#footer .content .image {
        margin-bottom: 5rem;
        justify-content: center;
    }

    footer#footer .content .image img {
        width: 15%;
    }
  }

  @media (min-width: 1200px) {
  }

  @media (min-width: 1400px) {
    :root {
      font-size: 65%;
    }
  }