* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%;

  --color-text: #fff;
  --gradient: linear-gradient(110deg, #3CB8A3, #6582D0, #852AE3);
  --gradient2: linear-gradient(230deg, #3CB8A3, #6582D0, #852AE3);
  --gradient-mobile: linear-gradient(-125deg, #3CB8A3, #6582D0, #852AE3);
  --black-color: #000;

  --purple: #962eff;
  --blue: #36C3E0;
  --paragraphy: #191D66;

  --color-text-2: #ebebeb;
 
  --nav-height: 7.2rem;
}

form {
  position: relative;
  z-index: 10;
}

#particles-js {
  background-color: transparent;
  opacity: .7;
  position: fixed;
  width: 100%;
  height: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
}

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--purple);
  }

  body {
    cursor: none;
    background: var(--purple);
  }

  .cursor-dot {
    width: 5px;
    height: 5px;
    background: var(--purple);
  }

  .cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid #8cd7ff7a;
  }

  .cursor-dot,
  .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 150;
    pointer-events: none;
  }

  section {
    padding-block: 8rem;
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #000000;
  background: #d8d8d8;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  @media (min-width: 768px) {
    .wrapper {
        width: min(76rem, 100%);
    } 
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(100rem, 100%);
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(120rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .7rem;
  background-color: #dbdbdb;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: linear-gradient(to bottom, #c334e7, #00a3ef);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }