#home {
  background: var(--gradient-mobile);
  height: 100vh;
  overflow: hidden;
  
  display: flex;
  justify-content: start;
  flex-direction: column;

  transition: all 200ms ease-in-out;

  position: relative;
}

#home img.industria {
  position: absolute;
  width: 100%;
  opacity: .1;
  z-index: 1;
}

#home img.industria.one {
  bottom: 0;
  right: 0;

  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 50%, transparent 100%);
}

#home img.industria.two {
  bottom: 0;
  left: 0;

  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 100%);
}


#home .text {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .text img.logo {
  width: 15rem;
}

#home .text h1 {
  font-size: 3.3rem;
  color: var(--color-text);
  font-weight: 500;
  margin-top: 2rem;
}

#home .text p {
  margin-top: 1rem;
  color: var(--color-text);
  font-size: 2.6rem;
  font-weight: 300;
  width: 60%;
}

#home a {
  text-decoration: none;
}

#home img.fogueteDesktop {
  display: none;
}

#home img.fogueteMobile {
  width: 210%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-52.5%);
}

#introducao img.botaoMobile {
  width: 12rem;
  position: absolute;
  top: -7%;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 768px) {
 
}

@media (min-width: 1080px) {

    header#home {
      background: var(--gradient);
      z-index: 8;
      justify-content: center;
      position: relative;
      height: 90vh;
    }

    header#home .content {
      height: 90vh;
      display: grid;
      grid-template-columns: .8fr 1fr;
      align-items: center;
      justify-content: center;
    }

    header#home .content .text {
      margin-top: initial;
      text-align: left;
      align-items: start;
    }

    header#home .content .text img.logo {
      width: 18rem;
      margin-bottom: 2rem;
    }

    header#home .content .text h1 {
      font-size: 4.5rem;
      margin-bottom: 2rem;
    }

    header#home .content .text p {
      font-size: 4rem;
    }

    header#home .image {
      height: 90vh;
      display: flex;
      align-items: end;
      width: 100%;
    }

    header#home .image img.fogueteDesktop {
      display: inherit;
      width: 120%;
      margin-left: -10rem;
    }

    header#home .fogueteMobile {
      display: none;
    }

    section#introducao .botaoMobile {
      display: none;
    }

    header#home img.industria {
      width: 35%;
    }
}

@media (min-width: 1200px) {
  
}


@media (min-width: 1400px) {
  
}