#especial {
    background: var(--color-text);
    overflow: hidden;
    position: relative;
}

#especial header {
    text-align: left;
    position: relative;
    z-index: 7;
}

#especial header > span {
    font-size: 1.6rem;
    font-family: var(--interV);
    color: var(--purple);
    font-weight: 700;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#especial header h2 {
    font-weight: 500;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--paragraphy);
}

#especial header h2 span {
    font-weight: 700;
}

#especial header p {
    font-family: var(--interV);
    font-size: 1.6rem;
    color: var(--paragraphy);
    font-weight: 500;
    line-height: 1.5;
}

#especial header a {
    text-decoration: none;
}

#especial header a button {
    margin-top: 2rem;

    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--color-text);
    border: none;

    background: var(--gradient);
    background-size: 150% 150%;
    animation: gradient 2s ease infinite;

    transition: all 200ms ease-in-out;
}

#especial header a button:hover {
    cursor: pointer;
    box-shadow:  10px 10px 21px #cdcdcd,
             -10px -10px 21px #ffffff;
    filter: brightness(1.2);
}

#especial .cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#especial .cards .card {
    gap: 2rem;

    text-align: left;
    background: var(--gradient);
    padding: 2rem;
    border-radius: 1rem;

    box-shadow:  10px 10px 21px #cdcdcd,
             -10px -10px 21px #ffffff;
}

#especial .cards .card h3 {
    color: var(--color-text);
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

#especial .cards .card .text {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 1rem;
    padding: 1.5rem;
}

#especial .cards .card .text p {
    color: var(--paragraphy);
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 300;
}

#especial .cards .card .text p span {
    font-weight: 600;
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }

    section#especial .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
    }

    section#especial header > span {
        font-size: 1.8rem
    }

    section#especial header h2 {
        font-size: 6rem;
    }
 
    section#especial header p {
        font-size: 2.2rem;
    }

    section#especial header a button {
        font-size: 2.2rem;
        padding: 2rem 4rem;
    }

    section#especial .cards {
        margin-top: initial;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section#especial .cards .card .text {
        height: 72%;
        padding: 2rem;
    }

    section#especial .cards .card .head {
        height: 20%;
    }

    section#especial .cards .card h3 {
        font-size: 3.5rem;
    }

    section#especial .cards .card p {
        font-size: 2.5rem;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(150rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }