#resumo {
    background: var(--color-text);
    overflow: hidden;
    position: relative;
    z-index: 6;
}

#resumo .image {
    margin-top: 5rem;
}

#resumo .image img {
    width: 80%;
}

#resumo .head {
    text-align: left;
}

#resumo .head h2 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--purple);
}

#resumo .head p {
    margin-top: 1rem;
    font-family: var(--interV);
    font-size: 1.6rem;
    color: var(--paragraphy);
    font-weight: 600;
    line-height: 1.5;
}

#resumo .cards {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#resumo .cards .card {
    text-align: left;
    margin-top: 2rem;
}

#resumo .cards .card::before {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 2rem;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    background: var(--paragraphy);
    opacity: .2;
    border-radius: 1.3rem;

    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}

#resumo .cards .card h3 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 1rem;
}

#resumo .cards .card p {
    color: var(--paragraphy);
    font-family: var(--interV);
    font-weight: 600;
    font-size: 1.6rem;
}

#resumo .cards .card p span {
    color: var(--purple);
}

@media (min-width: 1080px) {

    section#resumo .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A B";
        align-items: center;
    }

    section#resumo .content .image {
        grid-area: A;
        display: flex;
        justify-content: start;
        margin-top: initial;
    }

    section#resumo .content .image img {
        width: 60%;
    }

    section#resumo .text .head {
        margin-top: initial;
    }

    section#resumo .head h2 {
        font-size: 4.5rem;
    }

    section#resumo .text .head p {
        font-size: 1.8rem;
    }

    section#resumo .cards .card {
        display: flex;
        align-items: center;
    }

    section#resumo .cards .card::before {
        display: none;
    }

    section#resumo .cards .card h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    section#resumo .cards .card p {
        font-size: 1.6rem;
    }
  }

  @media (min-width: 1200px) {
    
  }

  @media (min-width: 1400px) {
   

    :root {
      font-size: 65%;
    }
  }