#descricao {
    background: var(--color-text-2);
    overflow: hidden;
    position: relative;
}

#descricao header {
    text-align: left;
    position: relative;
    z-index: 7;
}

#descricao header > span {
    font-size: 1.6rem;
    font-family: var(--interV);
    color: var(--purple);
    font-weight: 700;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#descricao header h2 {
    font-weight: 500;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--paragraphy);
}

#descricao header h2 span {
    font-weight: 700;
}

#descricao header p {
    font-family: var(--interV);
    font-size: 1.6rem;
    color: var(--paragraphy);
    font-weight: 500;
    line-height: 1.5;
}

#descricao .image {
    margin-top: 5rem;
}

#descricao .image img {
    width: 100%;
    
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }

    section#descricao .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "A B";
        gap: 15rem;
    }

    section#descricao header {
        grid-area: B;
    }

    section#descricao header > span {
        font-size: 1.8rem
    }

    section#descricao header h2 {
        font-size: 5rem;
    }
 
    section#descricao header p {
        font-size: 2.2rem;
    }

    section#descricao .image {
        display: flex;
        justify-content: start;
        margin-top: initial;
    }

    section#descricao .image img {
        width: 100%;
    }

  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(150rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }