#form {
    background: var(--gradient2);
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;

    overflow: hidden;
    position: relative;
}

#form header {
    text-align: left;
}

#form header h2 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text);
}

#form header p {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5;
}

#form .form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    position: relative;
    z-index: 6;
}

#form .caixaFormulario {
    display: none;
}

#form .caixaFormulario.active {
    display: block;
}

#form .form form {
    width: 100%;
}

#form .form input {
    border: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.401);
    padding: 1.5rem;
    border-radius: .5rem;
    border: 1px solid #ffffff84;
    width: 100%;

    box-shadow:  11px 11px 22px #00000010,
               -11px -11px 22px #00000014;
    margin-bottom: 1rem;
}


#form .form select {
    border: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.401);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #ffffff84;
    width: 100%;

    box-shadow:  11px 11px 22px #00000010,
               -11px -11px 22px #00000014;

    margin-bottom: 1rem;
    appearance: none;
    -webkit-appearance: none;
}

#form .form input::placeholder,
#form .form textarea::placeholder,
#form .form option.placeholder {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    opacity: .8;
}

#form .form input:focus,
#form .form textarea:focus,
#form .form select:focus {
    outline: 1px solid var(--color-text);
}

#form .form button {
    border: none;
    font-size: 1.6rem;
    color: var(--paragraphy);
    background: var(--color-text);
    padding: 1.5rem;
    border: none;
    border-radius: .5rem;
    width: 100%;
    margin-top: 1rem;
    box-shadow:  11px 11px 22px #00000010,
               -11px -11px 22px #00000014;
    
    transition: all 200ms ease-in-out;
}

#form .form button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@media (min-width: 1080px) {

    section#form .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        align-items: start;
    }

    section#form header h2 {
        font-size: 5rem;
    }

    section#form header p {
        font-size: 2rem;
    }

    section#form .form {
        margin-top: initial;
        gap: 3rem;
    }

    section#form .form input {
        font-size: 1.8rem;
    }

    section#form .form button {
        font-size: 2rem;

    }
  }

  @media (min-width: 1200px) {
    
  }

  @media (min-width: 1400px) {
   

    :root {
      font-size: 65%;
    }
  }