#introducao {
    background: var(--color-text);
    position: relative;
    z-index: 6;
    overflow: hidden;
}

#introducao header {
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introducao header > span {
    font-size: 2rem;
    font-family: var(--interV);
    color: var(--purple);
    font-weight: 700;
    display: block;
    width: 70%;
    font-weight: 400;
}

#introducao header h2 {
    font-weight: 500;
    font-size: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: var(--purple);
}

#introducao header h2 span {
    font-weight: 500;
    font-size: 15rem;
    line-height: .8;
}

#introducao header p {
    font-family: var(--interV);
    font-size: 1.8rem;
    color: var(--paragraphy);
    font-weight: 500;
    line-height: 1.5;
}

#introducao .cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

#introducao .cards .path {
    clip-path: polygon(25.6% 0%, 74.4% 0%, 100% 50%, 74.4% 100%, 25.6% 100%, 0% 50%);
    background: var(--purple);
    width: 34.3rem;
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#introducao .cards .card {
    text-align: center;
    position: relative;

    clip-path: polygon(25.6% 0%, 74.4% 0%, 100% 50%, 74.4% 100%, 25.6% 100%, 0% 50%);
    background: #ffffff;

    width: 34rem;
    height: 29.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

#introducao .cards .card img {
    width: 8rem;
    margin-bottom: 2rem;

    animation: icon infinite ease-in-out 12s forwards;
}

#introducao .cards .card p {
    color: var(--paragraphy);
    font-family: var(--interV);
    font-weight: 500;
    font-size: 1.8rem;
}

#introducao .cards .card p span {
    font-weight: 600;
    color: var(--purple);
}

#introducao .powerButton {
    display: none;
}

@media (min-width: 1080px) {

    section#introducao {
        overflow: hidden;
    }

    section#introducao .head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    section#introducao header > span {
        font-size: 2.2rem;
    }

    section#introducao .head header {
        text-align: left;
        align-items: start;
    }

    section#introducao header h2 {
        font-size: 8rem;
        margin-top: 1rem;
    }

    section#introducao header h2 span {
        font-size: 8rem;
    }

    section#introducao header p {
        font-size: 2rem;
    }

    section#introducao .powerButton {
        display: inherit;
        justify-content: end;
    }

    section#introducao .powerButton img {
        width: 65%;
    }

    section#introducao .cards {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 0;

        position: relative;
    }

    section#introducao .cards::before {
        content: '';
        position: absolute;
        width: 30%;
        height: 3px;
        left: -50%;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 2rem;
        background: var(--purple);
    }

    section#introducao .cards::after {
        content: '';
        position: absolute;
        width: 30%;
        height: 3px;
        right: -50%;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 2rem;
        background: var(--purple);
    }

    section#introducao .cards .path {
        width: 39.3rem;
        height: 35rem;
    }

    section#introducao .cards .card {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: initial;
        padding: 7rem;

        width: 39rem;
        height: 34.7rem;
    }

    section#introducao .cards .card img {
        width: 7rem;
        margin-bottom: initial;
    }

    section#introducao .cards .card p {
        font-size: 2rem;
    }
  }

  @media (min-width: 1200px) {
   
  }

  @media (min-width: 1400px) {
   

    :root {
      font-size: 65%;
    }
  }