#signup {
    background: var(--color-text);

    overflow: hidden;
    position: relative;
}

#signup header {
    text-align: left;
}

#signup header h2 {
    font-weight: 500;
    font-size: 3.6rem;
    margin-bottom: 1rem;
    color: var(--purple);
}

#signup header p {
    color: var(--paragraphy);
    font-weight: 600;
    font-size: 1.8rem;
}

#signup .cards {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#signup .cards .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 1rem;

    padding-bottom: 3rem;
    border-bottom: 1px solid #9432fd76;
}

#signup .cards .card img {
    width: 6rem;
    margin-bottom: 1rem;
}

#signup .cards .card h3 {
    color: var(--purple);
    font-size: 2rem;
    font-weight: 500;
}

#signup .cards .card p {
    color: var(--paragraphy);
    font-weight: 500;
    font-size: 1.8rem;
}

@media (min-width: 1080px) {
   

    section#signup .content {
        text-align: center;
    }

    section#signup header {
        text-align: center;
    }

    section#signup header h2 {
        font-size: 4.5rem;
    }

    section#signup header p {
        font-size: 2rem;
    }

    section#signup .cards {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        justify-items: center;
    }

    section#signup .cards .card {
        border-bottom: initial;
        padding-bottom: 0;
        width: 70%;

        position: relative;
    }

    section#signup .cards .card::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: -3rem;
        top: 0;
        background: var(--purple);
    }

    section#signup .cards .card img {
        width: 5rem;
        margin-bottom: 2rem;
    }

    section#signup .cards .card h3 {
        font-size: 2.4rem;
    }

    section#signup .cards .card p {
        font-size: 1.8rem;
    }
  }

  @media (min-width: 1200px) {
   
  }

  @media (min-width: 1400px) {
   

    :root {
      font-size: 65%;
    }
  }
